<p>This is game.handlebars</p>

<!--  use as template.  variable will be image in the image src attrbute. -->
<div class="game-container">
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" id="start-button">
        <img src={{ photo.0.image }} style="width: 200px; height: 250px;">
      </button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" id="start-button">
        <img src={{ photo.1.image }} style="width: 200px; height: 250px;">
      </button>
    </div>
    <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
        <img src={{ photo.2.image }} style="width: 200px; height: 250px;">
      </button></div>
  </div>


<div class="row">
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.3.image }} style="width: 200px; height: 250px;">
    </button></div>
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.4.image }} style="width: 200px; height: 250px;">
    </button></div>
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.5.image }} style="width: 200px; height: 250px;">
    </button></div>
</div>
</div>

<div class="row">
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.6.image }} style="width: 200px; height: 250px;">
    </button></div>
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.7.image }} style="width: 200px; height: 250px;">
    </button></div>
  <div class="col-md-4"><button type="button" class="btn btn-primary" id="start-button">
      <img src={{ photo.8.image }} style="width: 200px; height: 250px;">
    </button></div>
</div>
</div>

<button class="btn btn-secondary submit-results">Submit</button>
</div>

<script type="text/javascript" src="/js/game.js"></script>