<h3>Choose the correct images from the following category: {{photo.0.type}}</h3>

<div class="game-container">
  <div class="row">
    <div class="col-md-4 mt-1 p-0">
      <button type="button" class="btn btn-primary start-button">
        <img src={{ photo.0.image }} style="width: 300px; height: 300px;">
      </button>
    </div>
    <div class="col-md-4 mt-1 p-0">
      <button type="button" class="btn btn-primary start-button">
        <img src={{ photo.1.image }} style="width: 300px; height: 300px;">
      </button>
    </div>
    <div class="col-md-4 mt-1">
      <button type="button" class="btn btn-primary start-button">
        <img src={{ photo.2.image }} style="width: 300px; height: 300px;">
      </button></div>
  </div>


<div class="row">
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.3.image }} style="width: 300px; height: 300px;">
    </button></div>
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.4.image }} style="width: 300px; height: 300px;">
    </button></div>
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.5.image }} style="width: 300px; height: 300px;">
    </button></div>
</div>


<div class="row">
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.6.image }} style="width: 300px; height: 300px;">
    </button></div>
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.7.image }} style="width: 300px; height: 300px;">
    </button></div>
  <div class="col-md-4 mt-1">
    <button type="button" class="btn btn-primary start-button">
      <img src={{ photo.8.image }} style="width: 300px; height: 300px;">
    </button></div>
</div>
</div>

<script type="text/javascript" src="/js/joke.js"></script>